[2015-11-08 23:44] ryanturner opened #1 "Motion sensors never trigger"
I have numerous motion sensors on my winkhub; they show up in HA but they remain in state "closed" regardless of the actual sensor's state.

Note that the raw sensor's data from the wink API is as follows:
[code]

Compared to that of a door sensor (which works properly today):
[code]

I'll implement and submit a pull request.

[2015-11-09 03:35] #1 closed

[2015-12-16 03:57] bradsk88 opened #7 "This project needs Travis-CI automated tests"
https://travis-ci.org/bradsk88/python-wink

[2015-12-16 15:44] balloob commented on #7
Have a look at [this example](https://github.com/balloob/home-assistant/blob/dev/.travis.yml). Replacing `script/cibuild` with `script/test` should do the trick.

[2015-12-21 02:37] bradsk88 commented on #7
Got it wired up in a basic way.

[2015-12-21 02:37] #7 closed

[2016-01-18 08:02] TDWhbp opened #13 "Spotters read only as open / closed"
I have a pair of spotters in my Wink system when using Home assistant they only show as open/ closed normally closed.
![haspotters](https://cloud.githubusercontent.com/assets/12042563/12386026/bbc7edd2-bd8f-11e5-8927-8bd1ca95345c.png)
do I have something set wrong or is this an issue with the python-Wink?

[2016-01-18 15:28] w1ll1am23 commented on #13
What are you trying to achieve with the spotter? I know these are multi purpose sensors, but I assume they are getting picked up in python-wink as just a motion sensor. What all data do these return?

[2016-01-18 20:55] TDWhbp commented on #13
the Data they return is Temperature, Humidity, Light, Vibration and Sound... they do not do motion detection. It would be awesome if I could at least view temperature and humidity.

[2016-01-18 21:00] bradsk88 commented on #13
I would be happy to add better support for that sensor.

Can you please go to the [Wink API Explorer](http://docs.wink.apiary.io/#reference/device/wink-devices/retrieve-all-devices-of-user?console=1) and copy and paste the body of `Retrieve All Devices of User` here.

---

If you've never used the API explorer, you just have to [go there](http://docs.wink.apiary.io/#reference/device/wink-devices/r

[2016-01-19 07:41] TDWhbp commented on #13
here is the body... please remove this whenafter you are done it could have private info i missed thanks.
`Redacted at user's request`

[2016-01-19 14:39] bradsk88 commented on #13
Thanks @TDWhbp, I've saved a copy of that to use for expanding the functionality.  I may use snippets of it when building unit tests but I'll make sure to comb through carefully and replace the values with valid alternatives to protect your privacy.

[2016-01-23 02:48] TDWhbp commented on #13
if you are having any issues with testing due to my edits I am willing to assist.

[2016-01-23 13:34] w1ll1am23 commented on #13
@bradsk88 I just picked up a spotter yesterday, so if you need anyone else to test, I can as well.

[2016-02-01 06:25] TDWhbp commented on #13
has there been an update on this? could it be that I am just missing some input markers in Home assistant?

[2016-02-01 13:21] bradsk88 commented on #13
No progress yet. Sorry.  I've been busy with other obligations.

On Mon, Feb 1, 2016, 12:25 AM TDWhbp notifications@github.com wrote:

[2016-02-06 21:25] kfgoode opened #15 "Wink Thermostats"
I see there have a been a few things added recently (garage door, egg minder & additional spotter features) I was hoping to be able add thermostat support, I am not a python programmer so I was making a poor attempt at trying to add it but I noticed you an update so thought I would at least ask :)

[2016-02-08 19:01] bradsk88 commented on #15
I don't personally have a wink-compatible thermostat but if anyone else wants to implement a solution I'd be happy to merge it in if it meets the standards of this library.

[2016-02-08 19:45] bradsk88 commented on #13
Going to try to get a solution for this pushed up and merged into http://github.com/balloob/home-assistant tomorrow night.  If I can't get it out then, I'll be off the grid for a little over a week.

[2016-02-10 05:03] bradsk88 commented on #13
Solution is out on pypitest

@w1ll1am23 I'd appreciate if you can install it and test to see if your devices still work, including the sensors.  All I currently have are light bulbs, which work.

You can test by installing via this command:

[code]

Checkout http://github.com/balloob/home-assistant and update the `python-wink` requirements to use version `0.6.0.3`.  In that project, run `script/se

[2016-02-10 07:35] TDWhbp commented on #13
@bradsk88  I tried to run the command listed and got
`
Could not find a version that satisfies the requirement python-wink0.6.0.3 (from versions: )
No matching distribution found for python-wink0.6.0.3
`
belay my last... i ran
`pip3 install -i https://testpypi.python.org/pypi --upgrade python-wink==0.6.0.3` with no issues

[2016-02-10 07:53] TDWhbp commented on #13
ok, I got step 1 I do not understand step 2 could you help me out with a walk through I am running to many issues and as I like to say '-"instructions unclear cat now stuck in ceiling fan"-' ... I downloaded version .12 of HA but can't get setup to run locally

[2016-02-11 03:07] bradsk88 commented on #13
@TDWhbp No worries.  @w1ll1am23  was able to test for me.

I'll try to push up a guide for testing these kinds of things when I get back from vacation.

python-wink 0.6.0 is now available on pypi and offers support for all of the sensors inside the Quirky Spotter.  Just need to update https://github.com/balloob/home-assistant to make use of them.

Marking this resolved.

[2016-02-11 03:07] #13 closed

[2016-02-11 23:47] TDWhbp opened #18 "Wink App updates"
Wink App now allows Local control does this update change the way Python-wink will work?

[2016-02-16 22:37] bradsk88 commented on #18
Nothing should change on our end.  When I'm home from holiday, I'll be talking to the folks at Wink to get the information I'd need to allow for localhost control via python-wink.

[2016-02-17 10:35] TDWhbp commented on #18
could you look into why the wink z-wave devices no longer work in HA? hope you have a great holiday

[2016-02-18 02:51] ad8mustanggt commented on #18
For me, after the update, dimmer switches ("lights" in HA) work but on/off "switches" no longer work...

[2016-02-18 09:58] TDWhbp commented on #18
sorry about closing reopening ... fat finger mistake.

@ad8mustanggt  are your dimmers zwave or zeebee? all my zeebee stuff works but for some reason the zwave stuff is broken.

[2016-02-18 14:15] ad8mustanggt commented on #18
It's all zwave... Don't use any zeebee stuff.

[2016-02-18 18:37] mohesles commented on #15
I have one (ct-30 with z-wave usnap) but not great at formal coding. I'd be happy to test tho.

[2016-02-19 23:00] bradsk88 commented on #18
Solution is in the pipes.  Just need to merge it out.

https://github.com/bradsk88/python-wink/pull/20

Sorry guys.  Things will calm down after 1.0.

[2016-02-20 17:00] #18 closed

[2016-02-22 21:07] bradsk88 commented on #15
@kfgoode What kind of thermostat do you have?

[2016-02-24 06:33] kfgoode commented on #15
I have an Sensi, I love it btw,

[2016-03-09 20:51] danielolson13 opened #22 "Local Control"
What is the status of being able to use the local control api?

[2016-03-09 21:36] bradsk88 commented on #22
Not yet.  I have some free time this week so I'll dig into it.

[2016-03-09 22:56] danielolson13 commented on #22
Great, thanks!

On Wed, Mar 9, 2016 at 4:36 PM Brad Johnson notifications@github.com
wrote:

[2016-03-11 20:23] bradsk88 commented on #22
I'm waiting to get a response from Wink themselves.  I see the device on LAN but it won't accept commands so there must be an additional layer to get through.

They're usually pretty open about how their stuff works ... so fingers crossed.

[2016-03-11 20:25] bradsk88 opened #23 "Garage Door control has stopped functioning"
[code]

[2016-03-11 20:38] danielolson13 commented on #22
It's looking for a bearer token to be set and I want to say it runs on port
8888.

It's great Wink has been so open.

On Fri, Mar 11, 2016 at 3:23 PM Brad Johnson notifications@github.com
wrote:

[2016-03-11 21:16] bradsk88 commented on #22
Yeah, I hit it with a bearer token.
I'm somewhat concerned that the API endpoints on the device might not match the ones on api.wink.com

[2016-03-11 21:31] danielolson13 commented on #22
Yeah, you're right. I've poked at the local api and can get a list of
devices. I have root access but I can't figure it out. Hopefully they can
shed some light.

On Fri, Mar 11, 2016 at 4:16 PM Brad Johnson notifications@github.com
wrote:

[2016-03-12 00:20] bradsk88 commented on #22
:(

[2016-03-14 20:14] w1ll1am23 commented on #23
@aoakeson and I have been working on this issue. It seems that the API no long likes the request we are making to desired_state. The current code gets a response of

`{"data":null,"errors":["Unable to apply desired_state"],"pagination":{}}`

Url: https://winkapi.quirky.com/garage_doors/12345/desired_state
state: {'desired_state': {'position': 1}}

We also tried setting the desired state as a float

[2016-03-14 20:44] bradsk88 commented on #23
@w1ll1am23 What is the output of `https://api.wink.com/garage_doors/12345` ?
Under "capabilities" it should list the values that we can set

[2016-03-14 20:49] aoakeson commented on #23
@bradsk88 Here is the output:

[code]

[2016-03-14 20:51] aoakeson commented on #23
@bradsk88 @w1ll1am23 They must have removed the position capability?

[2016-03-14 20:55] aoakeson commented on #23
When I make the call for my lock: https://api.wink.com/locks/73199 it has many more capabilities:

[code]

[2016-03-14 20:59] w1ll1am23 commented on #23
Looks the same as the api response included when the support was originally added.

[2016-03-14 21:06] bradsk88 commented on #23
This is starting to look like a Wink bug...
I'd consider getting in contact with them for clarification/suggestions.

[2016-03-14 21:08] w1ll1am23 commented on #23
@aoakeson can you try to get ahold of wink? Since you own the device I am sure it will be easier. Not sure if they will help, last time I asked a question their response was "we don't support developers"

[2016-03-14 22:11] aoakeson commented on #23
Ok, ill see what i can do... Will post with response.

[2016-03-15 16:09] aoakeson commented on #23
@bradsk88 @w1ll1am23 This is the response I got......

"Sorry to say, but we do not provide any developer support. "

Ive replied with email asking who I can email, but Im not holding my breath on anything.... My assumption is that this is affecting everyone using the wink garage door.  Is the best way to figure this out just posting on gitter?

[2016-03-15 23:23] bradsk88 commented on #23
Bummer.  I assume you can still control it via the wink app?

[2016-03-16 00:06] aoakeson commented on #23
Yea I can control it through the app. It doesn't make sense though it seems as if the app should use the same Api?

[2016-03-16 00:33] bradsk88 commented on #23
This is a stretch but I'd be curious to see what would happen if you would un-pair the garage door opener and re-pair it with the Wink hub.

[2016-03-16 17:09] aoakeson commented on #23
Yea, I tried that and about everything else.  Factory resetting the controller, as well as the app.  No dice.

I did just get an email from wink:

"As part of our agreement with Chamberlain, third-party access to control Chamberlain garage doors has been restricted. Please contact Chamberlain directly to inquire about permissions."

Ill try contacting them.

[2016-03-16 18:02] bradsk88 commented on #23
Ouch.  Thanks, Chamberlain :disappointed:

[2016-03-17 16:06] aoakeson commented on #23
@bradsk88 I assume you are aware of what @w1ll1am23 found, do we still need to keep this issue open?  Its now working for me with the android hack.

[2016-03-17 16:32] bradsk88 commented on #23
I'll leave it open.  I'm still going to try to improve the way python-wink fails under this circumstance.

[2016-03-17 16:35] aoakeson commented on #23
Ok. Sounds good. One thing Ive been noticing, is that if I manually close the garage door, HA doesnt recognize this, and HA still marks it as opened.  Is this something that can be watched by HA if it wasnt opened or closed by HA

[2016-03-17 16:58] bradsk88 commented on #23
Yep.  The open/closed state should get updated.  Probably a bug in this project.

[2016-03-17 21:20] aoakeson commented on #23
This might not be a bug.  I just pulled up the wink app, and its saying my garage door is open

While the chaimberlin app is saying it is closed.  (This is correct) I wonder if this is a wink bug?

[2016-03-22 07:06] TDWhbp opened #27 "Osram Lightiify"
Noting this here as well this is an enhancement request.
the code below is a pull from my list all devices from the API.
yes I named my color changing bulb the bat signal
[code]

[2016-04-22 08:21] TDWhbp commented on #27
I just updated HA and found that my bat signal has color temp. Should i be able to change colors?

[2016-04-23 18:24] bradsk88 commented on #27
The goal of the last update was for you to be able to change color.
If you can't, I'll need to add support.

Thanks for the API response.  I'll look into this ASAP.

[2016-04-26 20:14] captainnapalm opened #35 "states broken in HA 0.18 and python-wink 0.7.4"
No longer receiving correct state for lights (and some other devices) when devices are toggled outside of HA. For example, if turn a light on/off from the switch, the state change isn't registered by HA, leaving it in the previous state until manipulated again by HA.

This is some of the errors from my logs.

[code]

[2016-04-27 03:21] bradsk88 commented on #35
I've reproduced this problem on my end.
Looking into it.

[2016-04-27 06:06] bradsk88 commented on #27
RGB was working for me when I released 0.7.4 but, upon upgrading HA tonight, I am seeing the missing RGB selector as well.

Will investigate soon.

[2016-05-21 18:59] henrikraken opened #38 "Support for Color Temperature in Commercial Electric Smart LED Downlight"
I am working on getting the commercial Electric Smart LED Downlights working. Currently, they are automatically discovered in HomeAssistant with the Wink hub, can be dimmed, can be turned on and off, but cannot be adjusted in the color temperature.  http://www.wink.com/products/commercial-electric-smart-led-downlight/

[2016-05-26 03:41] bradsk88 commented on #35
I was able to identify the problem and remedy it.  If this comes up again we can open a new issue.

[2016-05-26 03:41] #35 closed

[2016-05-27 01:56] bradsk88 opened #40 "logo"
![logo2](https://cloud.githubusercontent.com/assets/2147630/15595400/f5d7f8bc-237b-11e6-95b8-bb0353728e51.png)

[2016-05-27 01:56] #40 closed

[2016-07-01 15:18] balloob opened #42 "Excessive API calls?"
This is not so much an issue but more an FYI.

Home Assistant got an e-mail from a site reliability engineer at Wink about excessive API calls:

I am not sure if this was because of the way Home Assistant used the API or that a bug sneaked in that causes the extra calls. From my knowledge of the Home Assistant integration, this high amount of calls would be highly unlikely.  @w1ll1am23 has migrate

[2016-07-02 00:59] mannkind commented on #22
I would love to see local control access. Getting the token is possible if you root the device OR get one via the V2 API with your credentials (supposedly, I'm still waiting for Wink to give me credentials to test this method).

In the meantime they did send me info on the v2 API and I have a token because my device is rooted: http://docs.winkapiv2.apiary.io/

[code]
[code]

[2016-08-15 19:20] w1ll1am23 opened #47 "Hampton Bay Flush Mount LED returning False from supports_temperature()"
Just picked up this light yesterday and the temperature adjustment isn't available in Home-Assistant. Looks the the API response isn't what python wink is expecting for the supports_temperature() method. There is no "color_changeable" in the response. Based on the API it looks like the only guaranteed way of checking this would be with the color_model? I'll try to work on a fix for this.

`color_m

[2016-08-15 20:06] bradsk88 commented on #47
Yeah, I guess you would just check for the `color_temperature` under `capabilities.fields` and make sure that it's `read-write`.

[2016-08-15 20:17] w1ll1am23 commented on #47
Hmmm I was thinking I should check color_model and make sure color_temperature is listed there. Any reason you can think one is better than the other?

[2016-08-31 20:12] w1ll1am23 commented on #47
Verified that #48 fixed this issue, which was included in the newest release of Home-Assistant 0.27.0

[2016-08-31 20:12] #47 closed

[2016-08-31 20:13] w1ll1am23 commented on #38
@henrikraken Can you see if this is working in the newest HomeAssistant release 0.27.0?

[2016-08-31 20:14] w1ll1am23 commented on #27
@TDWhbp Can you see if this is working in the newest HomeAssistant release 0.27.0?

[2016-08-31 21:11] cbulock commented on #27
I just tested this on 0.27.1 and I'm still not seeing the option to set colors for the Osram bulbs.  I did notice this error on startup which I believe is new

[code]

[2016-08-31 23:13] w1ll1am23 commented on #27
@cbulock strange, HA/Python-Wink are detecting that the bulb supports temperature but for some reason it is like the 'color_temperature' field isn't in 'last_reading'. Can you verify your JSON looks like @TDWhbp and has 'color_temperature' listed in 'last_reading' and in 'choices'?

[2016-08-31 23:31] cbulock commented on #27
This is what my JSON looks like and I'm seeing color_temperature mentioned in those various places:

[code]

[2016-08-31 23:37] w1ll1am23 commented on #27
Ahhh, bingo. The problem is the value for color_temperature is null. Not sure why it would be set that way. Can you adjust the bulb temperature in the Wink App? If so try changing it to something and re-run the API call. It sounds like Null is a valid response from Wink so we are going to need to code around that, but changing it to something in the Wink app, and restarting HA will be a good test

[2016-09-01 00:02] cbulock commented on #27
That error I encountered may have been a one-off thing.  I've been trying to recreate it by having the lights turned off, set to a white temp, set to a color, it's not showing up any further.

However, in none of those situations am I seeing the ability to select a color for the lights in the UI.

[2016-09-01 00:07] w1ll1am23 commented on #27
I think you might only get that error once during startup, have you tried
restarting HA? I would expect, although I could be wrong, once this is
working you would have a temperature slider as well as a color picker.

On Aug 31, 2016 8:02 PM, "Cameron Bulock" notifications@github.com wrote:

[2016-09-01 00:09] cbulock commented on #27
Yea, I've been restarting HA between each change I've made

[2016-09-01 00:14] w1ll1am23 commented on #27
Thanks for the info, I'll try to take another look at the code tomorrow and
see if anything stands out.

On Aug 31, 2016 8:09 PM, "Cameron Bulock" notifications@github.com wrote:

[2016-09-01 00:19] cbulock commented on #27
In case it's helpful, the previous output was from a light that was off.  I'm including a couple others.

Light on, but in white temp mode

[code]

Full color:

[code]

[2016-09-01 02:44] TDWhbp commented on #27
I will check when I get home from work.

On Aug 31, 2016 16:14, "William Scanlon" notifications@github.com wrote:

[2016-09-01 23:16] TDWhbp commented on #27
I can only see tuneable white. It has been this way for aslong as I have
had the bulb

On Aug 31, 2016 22:44, "Timothy Watts" tdwhbp@gmail.com wrote:

[2016-09-02 00:24] w1ll1am23 commented on #27
So I think I figured it out. Home-Assistant doesn't support hsb color it
currently only has support for RGB and XY.

I find it interesting that the osram bulb response indicates in its choices
array that it supports rgb and hsb, but I see no mention of rgb in the last
reading. Maybe a wink bug?

Anyway, some pretty decent amount of work is going to be needed in Home
Assistant to get hsb support ad

[2016-09-02 07:27] TDWhbp commented on #27
would giving you access to mine help?

On Thu, Sep 1, 2016 at 8:25 PM, William Scanlon notifications@github.com
wrote:

[2016-09-02 18:07] w1ll1am23 commented on #27
@TDWhbp Thanks for the offer, that would help but I'll just use this as an excuse to go buy one lol. Not sure how much effort I will be able to put into this over the next few weeks but maybe I'll get lucky and it will be easier than it looks. I'll keep this issue updated with my findings.

[2016-09-05 21:15] w1ll1am23 commented on #27
https://github.com/home-assistant/home-assistant/pull/3218 fixes this problem.

[2016-09-06 17:23] w1ll1am23 commented on #27
@bradsk88 We are going to need a change to python-wink for this. The set_state method is making a call to supports_rgb() which is returning true. It then calls the _get_color_as_rgb() which has a bug `return tuple(h, s, v)`, tuple only accepts one value. If this bug is fixed, then the Osram bulb will then hit the rgb code in set_state. I am recommending we comment out the RGB code in set_state for

[2016-09-06 19:24] bradsk88 commented on #27
@w1ll1am23 That's right.  [That line](https://github.com/python-wink/python-wink/blob/7a2f0ddb594ae15b95c82a8857aa68591b041003/src/pywink/devices/standard/bulb.py#L101) was written because I knew that Wink supported RGB bulbs but I didn't have any, myself, to test with.

[2016-09-06 19:36] w1ll1am23 commented on #27
So are you okay with commenting that out for now? Or is there another way we should go about this?

[2016-09-06 19:41] bradsk88 commented on #27
@w1ll1am23 I think you could get away with just changing

[code]

to

[code]

[2016-09-06 19:41] bradsk88 commented on #27
if that doesn't work.  You could change `supports_rgb` to always return false and leave a TODO

[2016-09-06 20:03] w1ll1am23 commented on #27
Going to have to return false on the supports_rgb, if we just change the return on the _get_color_as_rgb then this will get called.

[code]

Which will fail on setting the bulb color.

[2016-09-13 16:58] empeee commented on #15
JSON response from Wink for Sensi thermostat per request from /u/w1ll1am23 at the reddit thread https://www.reddit.com/r/homeassistant/comments/4tz3n0/any_support_for_sensi_or_other_winkcontrolled/

[code]

[2016-09-14 16:41] w1ll1am23 opened #51 "PIR motion sensors aren't detected"
Wink updated the API to return temperature form the PIR motion sensors. This broke the motion sensing of the sensor, and it looks like temperature isn't properly detected either. Tests fail when using the new json.

[code]

[2016-09-18 13:10] xrolfex commented on #38
@w1ll1am23 @henrikraken This is currently working in the latest HomeAssitant release.

[2016-09-18 13:16] w1ll1am23 commented on #38
@xrolfex thanks for checking. @bradsk88, this can be closed.

[2016-09-18 13:17] w1ll1am23 commented on #51
Fixed in 0.7.15

[2016-09-18 13:17] #51 closed

[2016-09-18 13:19] w1ll1am23 commented on #27
@bradsk88, this can be closed.

[2016-09-18 13:22] w1ll1am23 commented on #42
@balloob, I assume you haven't heard anything else on this? I am thinking pubnub support fixed this. If you haven't heard anything else, I would say this can be closed.

[2016-09-18 16:06] balloob commented on #42
Yep, haven't heard anything. Think indeed pubnub fixed this

[2016-09-18 16:06] #42 closed

[2016-09-26 20:11] rbflurry opened #54 "Add Kidde Smoke alarm support."
Would It be possible to add support for Kidde Smoke alarms and CO detector? Below is a sample JSON for the detectors.

The device Response looks like this. Please let me know if there are any more details needed.

The important fields would be Smoke Detected, CO Detected and Battery level.

[code]

[2016-09-28 18:40] #27 closed

[2016-09-29 12:36] rbflurry commented on #54
@w1ll1am23  perhaps this is your bread and butter? Or could you at least point me in the right direction to integrate this? Thank you!

[2016-09-29 13:14] w1ll1am23 commented on #54
@rbflurry I have been planning on buying some of these! It should be pretty easy to setup, let me take a quick look and see what I can come up with.

[2016-10-03 01:10] rbflurry commented on #54
This was done by @w1ll1am23

[2016-10-03 01:10] #54 closed

[2016-10-03 01:12] rbflurry commented on #22
+1 for this.

At this time it would only work for Rooted winks hubs, but would be great.

[2016-10-08 19:29] Sanfam commented on #15
I'll add mine to the mix.  I'm using a Z-Wave thermostat that my research suggests is a white-labeled GoControl TBZ48L / RCS TBZ48 / ADT TBZ48A.  This model supports heat/cool/auto climate modes and auto/forced-on fan modes.  It is Single-Zone.

[code]

[2016-10-20 12:39] letchcj opened #56 "Small clean up item"
Minor clean up item.  In line 209 of __init.py__.   This is the file directory src/pywink/devices/standard/

There is an 'r' before the 3 ".  Not sure that this affects code, but it does show up in code editors.

r""" represents a wink.py garage door

[2016-10-20 21:28] bazhip commented on #22
@mannkind How were you able to get this to work? I'm on the newest firmware and I cannot for the life of me get it to respond. I just get an error 35 from curl about an unknown SSL protocol error??

I'm entering the curl command exactly as you've entered it (well save for the authorization token. I've also tried the examples from the README.md (which isn't there anymore on the newest version??) an

[2016-10-20 21:37] rbflurry commented on #22
The curl commands I was using is posted over here. https://community.home-assistant.io/t/rooted-wink-local-control/4733/8

Are you ignoring ssl errors since the wink hub uses an invalid certificate?

[2016-10-20 22:12] bazhip commented on #22
I think so. I rarely use curl, so I might have the syntax wrong but from what I understand, shouldn't -k or --insecure do that? I've tried both and I've put them in every place possible, but still get that error lol. I'll try the commands from the HA site when I'm back home in a bit. I'm wondering if it has something to do with the machine I'm using? I was remoting in to a pi, so maybe there is so

[2016-10-21 02:29] mannkind commented on #22
@bazhip - Yup, it's the exact command I use from my RPi (maybe it's not perfect, but it works).

Here is some info on my tools used on my RPi.

[code]

The only thing I changed in my config.js file was the created_at and updated_at values to `2114380800.892` because I didn't want to deal with refreshing tokens. The client_permissions value is blank, even when the token was generated by the wink ap

[2016-10-21 03:36] bazhip commented on #22
I got it working!!

To anyone in the future with a similar problem:

I noticed the SHA-256 field was empty in config.json. I ended up regenerating the cert with the script in /opt/local_control and copying the new files over to /database/local_control/data. After that, I backed up config.json and deleted it. I restarted the localcontrol service and it generated a new config.json file which also co

[2016-10-21 23:32] bradsk88 commented on #56
Removed the r.  Thanks.

[2016-10-21 23:32] #56 closed

[2016-10-25 14:02] w1ll1am23 commented on #15
I am testing with a nest thermostat and noticed that when using the wink app, I can't set the state to off (don't heat, don't cool, no auto) when trying to do so the thermostat reverts back to the last state. I have reviewed the api and it doesn't show off as being a valid operation mode. Can some try this with another thermostat and post the JSON from the wink api when their thermostat is in the

[2016-10-25 18:14] bazhip commented on #22
I think so. I rarely use curl, so I might have the syntax wrong but from
what I understand, shouldn't -k or --insecure do that? I've tried both and
I've put them in every place possible, but still get that error lol. I'll
try the commands from the HA site when I'm back home in a bit. I'm
wondering if it has something to do with the machine I'm using? I was
remoting in to a pi, so maybe there is so

[2016-10-25 21:59] asapkota commented on #22
curl -i -k -X GET "https://192.168.171.253:8888/devices" \
            -H "Authorization: Bearer $token"

replace $token with token. Works for me on 2.68

Have you guys figured out a way to control or get information of devices?

[2016-10-25 22:16] asapkota commented on #22
I was able to get a valid response with this using python as well.

url = host + "devices"
requests.packages.urllib3.disable_warnings()
response = requests.get(url, headers={'Authorization' : 'Bearer ' + token}, verify=False)
print (response.status_code)
print (response.headers['content-type'])
print (response.json())

No luck with changing state though.

This gets a 200 response but does not do a

[2016-10-25 22:39] mannkind commented on #22
You should be able to use the same API found here - http://docs.winkapiv2.apiary.io/
At least it worked for me when controlling my lights.

[2016-10-25 23:09] asapkota commented on #22
That's what I have been trying but no luck yet with thermostat.

I am trying to get "last_reading" states to show current temp on HASS but I
keep getting a syntax error or no such property error.

On Oct 25, 2016 18:39, "Dustin" notifications@github.com wrote:

[2016-10-25 23:09] rbflurry commented on #22
@asapkota I believe local control is only for lights and switches.

[2016-10-26 02:57] w1ll1am23 commented on #15
I think there may be a bug in the android app, but I figured out how to set the state to off so no need for the updated JSON. Should have this ready for a PR this week.

[2016-10-26 15:42] asapkota commented on #22
Really? that sucks. I thought they exposed the local control api for all
devices.

Is there a way to run a aprond command directly from HASS?

On Oct 25, 2016 19:09, "rbflurry" notifications@github.com wrote:

[2016-10-29 04:41] #38 closed

[2016-11-04 02:12] w1ll1am23 opened #59 "last_reading missing from pubnub responses"
Noticed this error today in my Home-Assistant logs. It looks like pubnub is returning invalid JSON responses occasionally. Wondering how we should handle this? Is there something that should be added to the pubnub_update method to validate the JSON is good? Maybe a check for last_reading and if it is bad don't update the state?

Nov 03 21:46:03 hass hass[18437]: self.wink.pubnub_update(json.loads(

[2016-11-05 00:36] w1ll1am23 commented on #59
Well I think I have figured this out, since this raise the KeyError back up to the HA pubnub_update, I am going to catch it there. If it gets caught HA will call the python-wink update method which will fetch the most recent state from Wink and not PubNub. Hopefully this works as I am hoping. Going to close this. Going to be included as part of this https://github.com/home-assistant/home-assistant

[2016-11-05 00:36] #59 closed

[2016-11-18 05:37] msteenburgh commented on #15
I'm using a Z-wave thermostat from Stelpro.  It works fine with the Wink app etc. but does not show up in home assistant.

{
         "lat_lng":[
            <XXXXX>,
            <XXXXX>
         ],
         "units":{
            "temperature":"c"
         },
         "name":"<XXXX>",
         "created_at":1478878324,
         "manufacturer_device_id":null,
         "locale":"en_us",
         "loc

[2016-11-18 11:27] w1ll1am23 commented on #15
@msteenburgh support for thermostats in HA is currently in dev. This will be included in the next HA release.

[2016-11-23 00:18] w1ll1am23 commented on #15
@bradsk88 This was included in the newest HA release. This can be closed.

[2016-11-29 20:36] bradsk88 commented on #23
@aoakeson Did this ever start working for you?

[2016-11-29 20:43] #15 closed

[2016-11-29 22:16] aoakeson commented on #23
I havent been using HA to control my garage because of this, but I will integrate wink again into HA, and update you with results.

[2016-12-13 22:05] rtclauss opened #62 "Possible to add support for remotes?"
Hi all,
I have a pico remote I'd like to use with wink and hass for some more advanced automations. Would it be possible to add support for the Remotes section of the Wink API?
http://docs.winkapiv2.apiary.io/reference/device/remote

[2016-12-20 18:08] w1ll1am23 commented on #62
@rtclauss unfortunately it isn't possible. I purchased a remote a couple weeks back to look into this, and the API fields that are present in the doc don't get returned from the API. I even proxied the requests coming from the official Wink Android app and they aren't present there either. Wink probably removed these fields to prevent exactly what we are trying to do, at the request of Lutron.

[2017-01-03 15:30] w1ll1am23 opened #64 "BadStatusLine from requests made to the Wink API"
I occasionally see the below error during startup of Home-Assistant. I have included two different runs each got the same error, but at a different point during startup. The error happens when the Wink API is queried. Right after these two attempts the third was successful.

Not sure if this is fixable here, if we are doing what we should already and blowing up? Is this an issue that requests shou

[2017-01-04 09:20] Custos commented on #23
If you dig hard enough, you can find some python scripts that allow you to open and close the door  -- then you can choose whether you want to use home-assistant.io, or some other mechanism to manage the door.

What I can't figure out is how https://winkathome.net is able to open and close the door if the API blocks it.  Maybe @trunzoc can give a hint!?

[2017-01-04 11:34] w1ll1am23 commented on #23
@custos wink@home is working because it is using a token provided by either the android or iOS client secret and ID. This same thing can be done with homeassistant. Basically it tricks the api into thinking you are using the wink app.

Take a look here for more details https://community.home-assistant.io/t/myq-componenet-issues/1860/155

[2017-01-05 05:53] trunzoc commented on #23
Wink@Home uses its own set of API creds.  It does not use the Android ones.  When you login from Wink@Home, the wink api login page actually contains the Wink@Home info because Wink Associated a specific login page with Wink@Home via my on set of creds.  It's the same with the subscription stuff used for the "Connections" feature of Wink@Home (basically, a way to send device events to IFTTT or som

[2017-01-05 11:50] w1ll1am23 commented on #23
@turnzoc thanks for getting back to us. Interesting! So I have proxies the android app and watched all the requests it makes, it isn't doing anything different from python-wink, but use its token and use a custom user-agent. Python-wink works when using the android token.

They only thing that makes sense to me would be they are blacklisting tokens and not white listing. Somehow they just forgot t

[2017-01-06 22:59] scadaguru opened #65 "Request to add Ring Doorbell for motion and button pressed"
Is that possible to add support for Ring Doorbell? Json data from Wink shows details about this device I can provide Json if need and can do testing when needed. Once added would like to see this Wink component in Home Assistant as well.
Appreciate your efforts.

[2017-01-09 16:05] w1ll1am23 commented on #65
@scadaguru If you can provide the JSON that would be great. I can try to take a look.

[2017-01-10 03:08] scadagenius commented on #65
Here it is the JSON from Wink hub poll. I have Ring Doorbell configured in Wink hub which receives motion and doorbell pressed events and Wink app shows notifications on cell phone, which means it gets updates from the Ring Doorbell so by subscribing to pubnub we can get those update and can have Home Assistant sensor reflect that status change and can be automated to do other stuff within HA syst

[2017-01-10 03:35] w1ll1am23 commented on #65
Sweet, I'll try to take a look tomorrow. Any idea the the difference between `motion` and `motion_true` is? I am assuming motion is the one reporting if motion was detected, since it is set to false. Just seems weird to have a motion_true field too.

[2017-01-10 05:19] scadagenius commented on #65
Cool, not sure about motion_true and button_pressed_true. I can run some test to see if value changes from N/A. This component/sensors will be cool addition to Home Assistant if you can figure out, I can provide data and testing help if needed. Here is the website of the product www.ring.com, although manufacturer promised to provide API but not done yet. I am waiting to write custom software to l

[2017-01-11 13:56] w1ll1am23 commented on #23
@trunzoc Based on the file here https://github.com/trunzoc/WinkAtHome/blob/4ce4d32badb21b33abc495e9d755adc2901f72ec/WinkAtHome/Web.config it looks like on lines 17 and 18 you have the API credentials configured to the Android apps client_id and client_secret.

Having said that, I have noticed other things that don't make since. For example all devices in wink@home show a field in their JSON called

[2017-01-11 14:14] w1ll1am23 commented on #62
@rtclauss I may have been wrong about this. It looks like those fields do come back, when using a specific user-agent string. I am not sure how we would implement this just yet, but I will continue to look into it.

Example of the JSON below. This is when using the user-agent from the Android application. When using no user-agent the button_pressed fields are not present.

[code]

[2017-01-11 14:27] cbulock commented on #23
I've had to use the following user agent to get that extra data from the api

`Manufacturer/Darwin node/0.10.30 Wink/3.1.0`

[2017-01-11 14:33] w1ll1am23 commented on #23
@cbulock sweet, thanks. Just tried that it and it works too. Changed it a bit and this seems to still work.

[code]

[2017-01-12 02:53] w1ll1am23 commented on #62
So the JSON is different for the Pico remote vs the Connected Bulb Remote.

[code]

So I will be able to add support for the connect bulb remote, but we will have to ignore the pico remote somehow.

[2017-01-13 20:45] scadaguru opened #69 "Request to add support for Rachio sprinkler"
Rachio sprinkler system gets connected to Wink hub and provides status and control watering of configured zones.
Here is the JSON to see what information it provides. I didn't find much useful information though may be few more calls we may have to make to get more information?

[code]

[2017-01-15 01:31] trunzoc commented on #23
You need to remember that the Wink@Home code here on GitHub is extremely old.  It was designed as a standalone app to run on a person's PC.  It was turning into a nightmare for support because so many people have so many different windows and IIS configurations. Not to mention that some people really have no understanding of IIS at all.  I chose to retire the code on GitHub and change it to a publ

[2017-01-22 17:04] #64 closed

[2017-01-23 02:45] w1ll1am23 commented on #69
Added in #68. Closing.

[2017-01-23 02:47] w1ll1am23 commented on #65
Added in #67. Closing.

[2017-01-23 02:47] #65 closed

[2017-01-23 02:53] w1ll1am23 commented on #62
@rtclauss support for this was added in #68. Unfortunately the pico remote doesn't follow the remote API documentation and won't work. However, the lutron connected bulb remote does follow the API and works great. Closing.

[2017-01-23 02:53] #62 closed

[2017-01-27 20:24] w1ll1am23 commented on #69
@scadaguru I think I closed this too early. I was taking a look at the API and it looks like there are `zones` defined that have way more information including the state of each zone and how the nozzle should spray.

I don't see any zones in the JSON you provided. Do you have your system completely configured? I am going to open this back up to track adding full support for these.

[2017-01-27 20:36] scadagenius commented on #69
I will have to pull one more time JSON to verify it. But when I open Wink application (written by Wink) on my phone it has listed zones and shows zone with last ran (like 2 days ago). There is a button called "Select Schedule" which brings my schedules from Rachio device and provides option to run it by clicking "Start" button withing the app.
May be button click makes another request to Wink serv

[2017-01-27 20:50] w1ll1am23 commented on #69
@scadaguru thats possible I guess, but their API spec states it should be present in the main devices JSON. However their spec has tons of errors and isn't ever updated.

[2017-01-27 21:17] scadagenius commented on #69
I just checked one more time JSON using wink@home and see zones shows just empty collection like:
  "zones": []

Wink app has zones listed with last activity but read only mode, Select Schedule button gives control.

[2017-01-28 16:54] w1ll1am23 commented on #69
:( sounds like another example of Wink doing something unique in their app that they don't document. I am not sure how technical you are, but any time I have run into this problem the only way I have been able to figure out what they are doing, is to proxy the Android apps traffic and watch what it is doing.

If you would like to give this a try, I can probable walk you through how to do it.

If y

[2017-01-28 20:38] rtclauss commented on #62
Great, thanks!

[2017-02-19 00:07] AppleTechy commented on #22
Can someone who has a rooted hub send me a dump of the data? My email address is in my bio or github.  Trying to figure out how the the local access bearer pin is encrypted. I have found the API call to get the hash, but I don't know how to decrypt. And I want to make sure the hash is actually the bearer token as it isn't exactly said, what the hash is used for other than "local public hash".

[2017-02-19 00:09] AppleTechy commented on #22
@bazhip Do you still have a rooted hub that you could send me a dump of? The php code? Look at my above comment if you need more info.

[2017-02-19 00:42] bazhip commented on #22
The latest firmware? There's no more PHP. It's all node. If you want one
with PHP, it's not going to have the local control API on there.

On Feb 18, 2017 6:09 PM, "AppleTechy" <notifications@github.com> wrote:

[2017-02-19 04:42] AppleTechy commented on #22
@bazhip Do you have access to the node dump? That would be extremely helpful. Trying to figure out its naming scheme since the API rarely has the name assigned to it in their App. So I am trying to find out how it's assigning names to numbers...

[2017-02-19 19:27] AppleTechy commented on #22
Also has anyone figured out how Wink is generating nonces?

[2017-02-20 17:55] bradsk88 opened #74 "Scenes, Robots, and Thermostats are incompatible with "device" interface"
The "Device" interface implies that an API entity will have the following units which thermostats, robots, and scenes do *not* reliably have:

- unit (for sensor reading)
- state (particularly for Scenes)
- device manufacturer (We may be able to fall back to "Wink". for this)
- device model name

It may be possible to extract a more simplified interface for these objects.

[2017-04-02 18:27] AppleTechy commented on #69
I would be interested in seeing this added, however I do want to point out that Rachio has a publicly documented API so it would probably be easiest for a separate component to be built specifically for the IRO rather than going through Wink's API to then just call the IRO API

[2017-04-02 19:05] w1ll1am23 commented on #69
@AppleTechy Good to know, I don't have one so I wasn't aware of that. Do you have one? If so would you like to help me figure out how to access the zone information? I was proxying the Wink app today and noticed there is an endpoint api.wink.com/zones mine doesn't return anything. I am thinking it might be the sprinkler zones?

[2017-05-10 18:04] rbflurry commented on #22
@asapkota I did some testing using aprond over SSH to my wink hub (its rooted)

But the time it took to setup a SSH session with every command was not the quickest or most reliable.

[2017-05-10 18:06] rbflurry opened #83 "Exposing groups."
Is there any interest in exposing groups of lights to HA?

I could see some use cases to avoid multiple calls to turn a wink group of lights off.

But I could also see where it would create issues if we have HA groups and wink groups.

[2017-05-11 23:57] w1ll1am23 commented on #83
I have thought about adding them in the past and never did because of the fact that Home-Assistant has groups. Do you really think it would be beneficial other than the less API calls thing?

[2017-06-05 13:35] rbflurry commented on #83
Honestly I am not sure about the benefits. I noticed a couple other platforms exposing groups which peaked my interest. At this time I would say No not worth it. At least in my use case.

https://github.com/home-assistant/home-assistant/pull/7376

https://github.com/home-assistant/home-assistant/pull/4744

[2017-07-08 14:23] w1ll1am23 commented on #23
I don't think this issue needs to stay open any longer. There isn't anything that can be done to get this working with python-wink other than the know work around of using official android/ios client_id and secrets. Other garage doors like the generic zwave GoControl will work and if Chamberlain ever removes the restriction they will start working as well.

[2017-07-08 14:23] #23 closed

[2017-07-22 23:38] w1ll1am23 commented on #22
Added in #76

[2017-07-22 23:38] #22 closed

[2017-09-09 20:44] rbflurry opened #94 "Kidde Smoke detectors do not have battery level."
I am not sure when it started but I noticed the Kidde Smoke detectors do not show battery level in HASS anymore but they used to.

I can still see the info in the wink Json response.

Thanks as always.

[2017-10-03 01:55] rbflurry commented on #94
@w1ll1am23 thank you again.

{
  "object_type": "smoke_detector",
  "object_id": "73142",
  "uuid": "54feac93-327e-4f04-a8ba-500c88e95245",
  "icon_id": null,
  "icon_code": null,
  "last_reading": {
    "connection": true,
    "connection_updated_at": 1462586187.9383092,
    "battery": 0.9,
    "battery_updated_at": 1506266794.7157471,
    "co_detected": false,
    "co_detected_updated_at": 14625

[2017-10-12 00:23] w1ll1am23 commented on #94
This was an issue with Home Assistant not python-wink. Closing.

[2017-10-12 00:23] #94 closed

[2018-02-17 01:19] kpine opened #102 "Access token not automatically refreshed"
Noticed my wink components weren't being updated in Home Assistant. I saw some wink.py exceptions in the logs, but ignored them. But after a restart saw this error:
[code]
Looked around in the python-wink source code and saw some refresh code had been added in the past. I was able to refresh the token via the API and update my .wink.conf file.
[code]
Maybe this is an issue/feature that should be s

[2018-02-24 18:21] w1ll1am23 commented on #102
Thanks I'll take a look it is an issue here for sure. It should be refreshing automatically in the library.

[2018-02-28 02:34] w1ll1am23 commented on #102
So I am going to add in some code to call the refresh_access_token() from the wink_api_fetch() method but I am confused why that is needed. Currently if the API call fails refresh_access_token() is automatically called, then Home Assistant should periodically and on shutdown, pull the current access token and update it in the .wink.conf it sounds like that wasn't the case for you? You said you saw

[2018-03-24 05:40] kpine commented on #102
Sorry for the late reply, I was offline for a while. I don't have any additional logs except for what's above. The HA logs I did have rotated out since then and I don't have any recent wink errors. Another thing I noticed, the timestamp on my .wink.conf is being updated, and the wink components are now being shown in HA, so I assume it's doing the right thing. If you want, please go ahead and clos

[2018-03-24 06:29] kpine commented on #102
Another thing I did notice. There may be an issue with home assistant, not here. My wink climate component is logging to an InfluxDb server I have offsite, using the HA influx component. About the time I left for vacation until today, I have no events stored in InfluxDB. That was also the time I noticed the Wink component was not working. Since I restarted HA, the events are being logged in Influx

[2018-03-24 06:29] #102 closed

[2018-06-08 16:05] bradsk88 opened #106 "Library should be auto-published up new version being committed to master branch"
I can't publish this library from work.  However, I can merge branches, etc.

It would be nice (and should be possible) for Travis CI to publish it for us.

[2018-06-27 20:56] GaryOkie opened #107 "Wink.py/fan.py errors adding GE in-wall fan (update #105)"
I have two ceiling fans paired with Wink using the GE in-wall fan control.   Both were working  in Hassio 70.1  (as light.xxxxx entities), but upon updating to 72.1 today, only one is working (now as fan.xxxx).   (per Wink update #105 @vickyg3)

Here is the error which indicates something amiss with reading brightness/fan speed.   The fan that failed to be integrated properly was currently at or n

[2018-06-28 16:49] vickyg3 commented on #107
Based on your latest update, it looks like it works and is no longer a bug?

[2018-06-28 17:00] GaryOkie commented on #107
Oh, there is still a significant bug.   Did you not see my last post on #105 with all the details?

My wife prefers to use the simple Wink GUI to control the fans, and as long as she doesn't move the Wink fan slider all the way to zero, there is no problem with this HA update.   But any time the Wink slider is set to zero, wink/fan.py crashes while handling the brightness/speed setting and the fan

[2018-06-28 17:07] vickyg3 commented on #107
Ah, sorry, i got it now. I misread your update then. I think i understand what is going on now. I will try to see if i can duplicate the scenario. :)

[2018-06-28 17:39] vickyg3 commented on #107
I was able to reproduce the scenario and i have pushed a patch (PR #108) to fix the issue. Once it is merged, i will update home assistant as well.

Thanks for the patience and detailed resposnes. :)

[2018-06-28 17:47] GaryOkie commented on #107
Thank you for taking care of it so quickly!

[2018-06-28 23:35] #107 closed

[2018-07-17 23:46] siam28 opened #109 "Nimbus support"
The API does not currently support [Nimbus](https://winkapiv2.docs.apiary.io/#reference/device/nimbus) devices. It is a legacy device, but can be used to display a wide variety of information. I'm using it right now to display server stats using a legacy python library.

[2018-07-17 23:54] w1ll1am23 commented on #109
I have thought about adding support before but haven't got around to it. You said you use another library that works with the nimbus? Can you let me know which one? That may make it quicker to implement here.

I assume this https://github.com/jso/py-wink

[2018-07-18 01:55] siam28 commented on #109
@w1ll1am23 that is the right library. The class is called ```cloud_clock```.

[2018-07-18 01:57] w1ll1am23 commented on #109
@siam28 Thanks, I'll take a look. Can you get me the JSON for the clock? Log in to [wink@home](https://winkathome.net/Login.aspx?redirect=default.aspx) find the device and click on the little `i` there is a field with the devices JSON.

[2018-07-18 13:28] siam28 commented on #109
@w1ll1am23 Here is the JSON for the Nimbus. Dial 1 is currently set to be a clock via the wink app, and I have set dials 2 - 4 values at 0, 50, and 100% (respectively) via the py-wink library. I've also set the properties in the dial configuration section (min_value, max_value, min_position, etc.) for dials 2 - 4 via the library. The ```channel_id``` field in the ```channel_configuration``` sectio

[2018-07-18 19:20] w1ll1am23 commented on #109
@siam28 Can you try to set an Alarm and send the JSON for that?

[2018-07-18 21:44] siam28 commented on #109
Sure. Here it is:

[code]
And here's the whole file for reference to see which level the alarm section resides.

[code]

[2018-08-04 18:11] w1ll1am23 commented on #109
@siam28 I am working on this, managed to find a used nimbus online so I can test things out. I'll let you know when it is ready and let you test as well.

[2018-08-04 18:49] sbrooke opened #110 "OAuth issue"
I might be using this in an atypical way so it could be the source of my problem.  I'm not integrating with HA, only running the sample code from the cli.  The sample code requires copying and pasting a URL into a browser, logging into the Wink account and then copying the returned code (only) out of the response URL.  Does anyone have a sample where the credentials can be fed in through Python an

[2018-08-04 18:57] w1ll1am23 commented on #110
You can try running the process and inputting the code then the next time just call def set_wink_credentials(client_id, client_secret, access_token, refresh_token) you would have to get the refresh token from the debug logs, or put in some prints but I think it should work. Then in your script or whatever pull the token/refresh token from a config file and feed it to this method every time?

[2018-08-04 19:03] sbrooke commented on #110
Ok, I can look at that, but where do the debug logs land?

[2018-08-04 19:08] w1ll1am23 commented on #110
Try adding this to whatever script you have

[code]

This will make it log to the console.

[2018-08-04 19:25] sbrooke commented on #110
That supplied more output but didn't provide the code.  It did show the refresh token after doing the login and copying and pasting the returned code.  So, maybe a step in the right direction, but how can I show the returned URL with the code in it from a debug log?

[2018-08-04 19:31] w1ll1am23 commented on #110
There is no easy way to do that, you would have to be running a webserver via your script that catches the redirect URL. The code process only needs to be run 1 time in order to obtain the tokens. (Home Assistant only calls the code method once when you setup Wink and then isn't used again.) Once you have the tokens you won't need to run it again. The only reason I see for needing that would be to

[2018-08-04 19:36] sbrooke commented on #110
I want to grab temperature and humidity from sensors and feed that to an InfluxDB for displaying in Grafana.  I think I see what you're saying.  There needs to be a process for authorizing with the code the first time, but then the access_token and refresh_token are stored and called for subsequent requests?

[2018-08-04 19:44] w1ll1am23 commented on #110
Correct. Also, Home Assistant supports influx https://www.home-assistant.io/components/influxdb/ so maybe it would be easier to just use that?

[2018-08-04 19:48] sbrooke commented on #110
I'm also trying to learn a bit more about Python, but I'll take a look at that integration for what I need.  Thanks for all your help!

[2018-08-04 19:50] w1ll1am23 commented on #110
No problem! So can this issue be closed?

Also feel free to reach out on discord if you need more help, I am w1ll1am on there.

[2018-08-04 20:01] sbrooke commented on #110
Yes, thanks again!

[2018-08-04 20:01] #110 closed

[2018-08-11 14:44] w1ll1am23 commented on #109
@siam28 Can you try setting an alarm on your Nimbus and see if it goes off? I am having trouble getting mine to work. I got it to work with the app a couple times and then with python-wink a couple times, but now I can't get either to work.

I think it is a requirement to have a time dial for it to go off.

[2018-08-12 18:19] siam28 commented on #109
@w1ll1am23 I'm having the same issue. The alarm does not go off. I have a time dial as my first dial. After the alarm time, the alarm goes from Enabled to Disabled on the app, but the Nimbus makes no sound during the alarm time.

[2018-08-12 18:22] w1ll1am23 commented on #109
@siam28, okay thanks for confirming. I think I'll push my changes but not expose the alarms to Home Assistant and maybe try to talk with Wink about it.

Feel free to test out the changes in the pull request I have opened for setting your dials.

[2018-08-12 21:16] siam28 commented on #109
@w1ll1am23 Just tested. I can confirm I can set the value and label for all the dials. Thanks for adding it to the library so quickly.

[2018-08-12 21:20] w1ll1am23 commented on #109
@siam28 no problem, wouldn't have happened so quickly if I wasn't able to get one of my own. It was super difficult to get it paired to my account, it isn't support anymore so I had to try to pair it as a porkfolio like 50 times.

[2018-08-12 21:30] siam28 commented on #109
@w1ll1am23 Same here. I deleted the Nimbus from my account (my WiFi credentials changed so thought I'd delete & re-add), and when I went to go re-add it, the app said the Nimbus was no longer supported. I tried a bunch of their other electric imp devices to re-add it, and Porkfolio ended up being the magic one, but I also had to try to pair it numerous times.

[2018-09-05 16:17] w1ll1am23 opened #112 "Users have requested the ability to set dimmer switches to fans"
@vickyg3 I know you added support for the official GE fan controllers, but it looks like some users are using non-fan controller (standard dimmers) as fan controllers. Thoughts on adding support for user specified devices not just based on model?

For reference this is most recently being discussed here https://www.reddit.com/r/homeassistant/comments/9d6f5c/hassio_wink_addon_change_switch_to_fan/

[2018-09-05 22:12] vickyg3 commented on #112
Sure. I think the following has to be done:
* Adding some kind of an API function to python-wink to pass in the devices which you want recognized as fans.
* And a configuration entry for the wink component in hass which will make use of the added python-wink API.

[2018-09-05 22:18] w1ll1am23 commented on #112
Correct, the problem I see is how should the user specify which devices should be fans? I would think it would have to be based on the object_id but that isn't exposed to the HA user. So it would really need to be based on name I guess?

[2018-09-09 14:51] w1ll1am23 commented on #109
@siam28 I just opened the MR to get this added to Home Assistant, if you can test it out that would be great!

[2018-09-09 14:51] #109 closed

[2019-01-26 20:41] rbflurry opened #113 "Add egg age to eggminder sensor"
Would there be a way to add the egg age to the egg minder implementation?

Could each "egg" me an attribute of the egg minder or its own sensor?

JSON to follow for egg minder.

[code]

[2019-01-26 20:45] w1ll1am23 commented on #113
Sure, I would think an attribute on the main sensor would be best. I can try to take a look later today.

[2019-01-26 23:50] #113 closed

[2019-05-06 19:16] GaryOkie opened #116 "Wink API subscribe loop error: 'Remote end closed connection without response'"
Hopefully Wink software engineers will either improve their new internal PubNub-like service to properly close connections or document what changes should be made in clients.   If not, at some point an effort should be made to see if there is anything that can be done in python-wink to reduce or eliminate this error that fills the log unless suppressed.

Searching for this error (not specific to W

[2019-05-08 02:05] GaryOkie commented on #116
After thinking about this some more and re-reading Williams posts, I'm closing this as something we just live with until Wink fixes it on their end, if ever.   He found the same errors were occurring in the Wink Android app which I had missed seeing.   He also tried to reach out to the Wink engineer (as have I) and we're getting no response.

Wink Customer Support did reply to me today he said, an

[2019-05-08 02:05] #116 closed

[2020-04-20 11:58] MatthewGreen opened #117 "Question: Can local_control be set to true with API Key Based Auth?"
Hello,

I'm a downstream user of pywink via the `wink:` integration for Home Assistant. I've had this integration setup for a while but due to the constant issues with Wink (most recently the expired wildcard cert on api.wink.com) I want to switch this device to be local_control only so that it will just be my operator for ZWave, Zigbee and Lutron devices.

https://www.home-assistant.io/integratio

[2020-04-20 22:23] w1ll1am23 commented on #117
@MatthewGreen unfortunately that isn't how it works.

Local control will not decouple you from the cloud. On HA startup it still must speak with the Wink API in order to obtain a token, and if the API is down the hub will also be unable to communicate (in some cases)

[2020-04-21 11:37] MatthewGreen commented on #117
@w1ll1am23 thanks a lot for the reply! I'm guessing that once that token, bearer token or JWT or otherwise is received there is a TTL on it as well and over time pywink or another section of the wink integration will do a refresh token call too?

Effectively, you've given me my answer. You cannot use the Wink Hub 2 as a local device only that does not have any Cloud connectivity even if your orche